{% extends "welcome/base.html" %}

{% block page_content %}

    {% if  user.is_authenticated %}
        <h3>Hello, {{ firstName }} you're logged in!</h3>
    <button type="submit" name="signout"> <a href="/signout">signout</a> </button>
    {% else %}
    <button type="submit" name="signup"> <a href="/signup"> signup</a> </button>
    <button type="submit" name="signin"> <a href="/signin"> signin</a> </button>
    {% endif %}

<h2> Say welcome! </h2>

<form action="" method="post">
    {% csrf_token %}
    <label for="">Username:</label>
    <input type="text" id="userName" name="userName" placeholder="Enter your name" required>

    <br>
    <button type="submit"> Say welcome</button>
</form>

<br>
<button type="submit" name="listVisitors"> <a href="/list_visitors"> List of visitors</a> </button>

{% endblock %}