{% extends "welcome/base.html" %}

{% block page_content %}

<h2> Sign Up </h2>

    <form action="/signup" method="post">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" id="userName" name="userName" placeholder="Enter your nickname" required>

        <br>
        <label for="">First name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter your First name" required>

        <br>
        <label for="">Last name:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter your Last name" required>

        <br>
        <label for="">Email Address:</label>
        <input type="email" id="emailUser" name="emailUser" placeholder="Enter your email" required>

        <br>
        <label for="">Password:</label>
        <input type="password" id="password1" name="password1" placeholder="Enter your pass" required>

        <br>
        <label for="">Password confirm:</label>
        <input type="password" id="password2" name="password2" placeholder="Confirm your pass" required>

        <br>
        <button class=" btn btn-lg btn-primary" type="submit"> Sign Up</button>

    </form>
{% endblock %}
